extends ../layout

block content
    .row
        .col-sm-8
            h1=title
        .col-sm-4
            a(href="/products/add" class="btn btn-success btn-sm float-right") Create Course
    table.table
        thead
            tr
                th Course Name
                th Course ID
                th Course Duration(Hrs) 
                th Course FEE(USD) 
        tbody
            each product in products
                tr
                    td=product.name
                    td=product.id
                    td=product.duration
                    td=product.fee
                    td 
                        a(href="/products/delete/"+product._id,class="btn btn-danger",style="margin-right:10px") Delete
                        a(href="/products/update/"+product._id,class="btn btn-warning",style="margin-right:10px") Edit